
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-pro"> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <img src="/assets/Admin/theme1/images/admin/6.jpg" alt="user-img" class="img-circle">
                                <span class="hide-menu"> {{.name}}</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/edit/1"><i class="ti-user"></i> My Profile</a></li>
                                <li><a href="/admin/edit_password/"><i class="ti-key"></i> Edit Password</a></li>
                                <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-small-cap">--- MENU</li>
                        <li> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:avoid(0)" aria-expanded="false">
                                <i class="fa fa-clipboard"></i>
                                <span class="hide-menu">Invoices</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/invoice/add">Create Invoice</a></li>
                                <li><a href="/invoice">List Invoices</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:avoid(0)" aria-expanded="false">
                                <i class="fa fa-book"></i>
                                <span class="hide-menu">Products</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/product/add">Add Product</a></li>
                                <li><a href="/product">List Products</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:avoid(0)" aria-expanded="false">
                                <i class="fa fa-file"></i>
                                <span class="hide-menu">Categories</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/category/add">Add Category</a></li>
                                <li><a href="/category">List Categories</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:avoid(0)" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                <span class="hide-menu">Admins</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/add">Add Admin</a></li>
                                <li><a href="/admin">List Admin</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-edit"></i><span class="hide-menu">Settings</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/settings/general">General Settings</a></li>
                            </ul>
                        </li>
					</ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->