{{define "invoiceList"}}
{{template "_header_settings.html"}}
{{template "_header.html"}}
{{template "_sidebar.html"}}
{{template "_other.html"}}

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">List Invoice</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Invoice</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Invoice</h4>
                            <a href="/invoice/add" class="btn btn-success m-b-20">
                                <i class="fa fa-coffee"></i>
                                Add Invoice
                            </a>
                            <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                            <div class="table-responsive m-t-10">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="5%">No</th>
                                            <th width="20%">Invoice Code</th>
                                            <th width="10%">Product</th>
                                            <th width="10%">Subtotal Price</th>
                                            <th width="15%">Tax Price</th>
                                            <th width="15%">Total Price</th>
                                            <th width="15%">Status</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>No</th>
                                            <th>Invoice Code</th>
                                            <th>Product</th>
                                            <th>Subtotal Price</th>
                                            <th>Tax Price</th>
                                            <th>Total Price</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{range $i, $x := .}}
                                        <tr>
                                            <th>{{$i}}</th>
                                            <th>{{$x.Invoice_code}}</th>
                                            <th>{{$x.Invoice_code}}</th>
                                            <th>Rp{{$x.Subtotal_price}},-</th>
                                            <th>Rp{{$x.Tax_price}},-</th>
                                            <th>Rp{{$x.Total_price}},-</th>
                                            <th>
                                                {{ if eq $x.Status 1 }}
                                                    <p class="label label-success">Active</p>
                                                {{ else }}
                                                    <p class="label label-danger">Not Active</p>
                                                {{ end }}
                                            </th>
                                            <th>
                                                <a href="/invoice/edit/{{$x.Id_invoice}}"><i class="fa fa-edit fa-2x"></i> </a>
                                                <a href="/invoice/delete/{{$x.Id_invoice}}"><i class="fa fa-trash fa-2x"></i> </a>
                                            </th>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    
    
{{template "_footer.html"}}
{{end}}